{% extends "layout.html" %}

{% block content %}

    <div id="myWarning" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Подтверждение</h4>
                </div>
                <div class="modal-body">
                    <div id="warningBody"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button id="deleteButton" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header clearfix">
        <div class="pull-left">
            <h2>{{ title }}
                <small data-bind="text: ingredients().length"></small>
            </h2>
        </div>
        {% if is_admin %}
            <div class="pull-right">
                <a class="btn btn-sm btn-success" href="{{ url_for("ingredients.new") }}">Добавить</a>
            </div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover" style="display: none" data-bind="visible: ingredients().length > 0">
            <thead>
            <tr>
                <th>#</th>
                <th>Название от поставщика</th>
                <th>Название в системе</th>
                <th>Ед. измерения</th>
                <th>Срок годности (дней)</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: ingredients">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: CommonName"></td>
                <td data-bind="text: MeasureCaption"></td>
                <td data-bind="text: ExpirationDays"></td>
                <td>
                    {% if is_admin %}
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-default btn-sm btn-small"
                               data-bind="attr: {href: '{{ url_for("ingredients.edit", ingredient_id = -1) }}'.replace('-1', Id())}"
                               title="Редактировать">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <button class="btn btn-danger btn-sm btn-small" title="Удалить">
                                <span class="glyphicon glyphicon-remove"
                                      data-bind="click: $root.DeleteIngredient"></span>
                            </button>
                        </div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/ingredients.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("li#ingredients").addClass("active");
            ko.applyBindings(new IngredientsModel({{ ingredients|default([]) }}));
        });
    </script>
{% endblock %}