{% extends "layout.html" %}

{% block content %}

    <div id="myWarning" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Подтверждение</h4>
                </div>
                <div class="modal-body">
                    <div id="warningBody"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button id="deleteButton" type="button" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Имя</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Введите имя">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLogin" class="col-sm-2 control-label">Логин</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLogin"
                                       placeholder="Введите логин">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword"
                                       placeholder="Введите пароль">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRole" class="col-sm-2 control-label">Роль</label>

                            <div class="col-sm-10">
                                <select class="form-control" id="inputRole">
                                    <option>Guest</option>
                                    <option>User</option>
                                    <option>Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" id="errorBlock"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button id="saveButton" type="button" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header clearfix">
        <div class="pull-left">
            <h2>{{ title }}
                <small data-bind="text: users().length"></small>
            </h2>
        </div>
        {% if is_admin %}
            <div class="pull-right">
                <button class="btn btn-sm btn-success" data-bind="click: AddUser">Добавить</button>
            </div>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover" style="display: none" data-bind="visible: users().length > 0">
            <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Последний вход</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: users">
            <tr>
                <td data-bind="text: Id"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Login"></td>
                <td data-bind="text: Role"></td>
                <td data-bind="text: LastLogin"></td>
                <td>
                    {% if is_admin %}
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-default btn-sm btn-small" data-bind="click: $root.EditUser">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-sm btn-small">
                                <span class="glyphicon glyphicon-remove" data-bind="click: $root.DeleteUser"></span>
                            </button>
                        </div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/users.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("li#users").addClass("active");
            ko.applyBindings(new UsersModel({{ users|default([]) }}));
        });
    </script>
{% endblock %}